@model List<WebApplication2.Models.Klienci>

<h2 class="mb-2 text-left" style="padding-bottom:30px;"> Lista klientów</h2>



<div>
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3"

<p>
    <a href="@Url.Action("Create", "Home")" class=" btn btn-success"> Dodaj nowego klienta</a>
            <a href="@Url.Action("ImportExport", "Home")" class="btn btn-info mb-3;padding-top:10px;">Import / Export klientów</a>

</div>



@if (Model == null || !Model.Any())
{
    <p>Brak danych.</p>
}
else
{

    <table class="tabel table-bordered table-hover">
        <thead>
            
            <tr>
                
                <th style="width: 5%" class="text-center">ID</th>
                <th style="width: 15%" class="text-center">Imię</th>
                <th style="width: 15%" class="text-center">Nazwisko</th>
                <th style="width: 20%" class="text-center">PESEL</th>
                <th style="width: 15%" class="text-center">Rok urodzenia</th>
                <th style="width: 10%" class="text-center">Płeć</th>
                <th></th>
                        <th></th>

                
            </tr>
            
        </thead>
        <tbody>
            @foreach (var klient in Model)
            {   
               
                <tr>
                    <td class="text-center"> @klient.ID</td>
                    <td class="text-center"> @klient.Name</td>
                    <td class="text-center"> @klient.Surname</td>
                    <td class="text-center"> @klient.PESEL</td>
                    <td class="text-center"> @klient.BirthYear</td>
                    <td class="text-center"> @klient.Płec</td>

                    <td>
                        
                     <a asp-action="Edit"
                        asp-route-id ="@klient.ID"
                                class ="btn btn-sm btn-outline-warning">Edytuj</a>

                    </td>

                    <td>
                        <a asp-action="Delete"
                        asp-route-id ="@klient.ID"
                        class ="btn btn-sm btn-outline-danger">Usuń</a>
                    </td>
                   
                </tr>
                 
            }
        </tbody>
    </table>
}
